.parent {
  display: grid;
  grid-template-columns: auto auto auto;
}

body {
  background-image: url(../img/reset.png);
  background-size: auto;
  background-repeat: no-repeat;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  margin: 0 auto;
  padding: 0 20px;
  width: 50%;
  border-radius: 10px;
  padding: 40px;
}

@media screen and (max-width: 480px) {
  #inner {
    width: calc(100% - 80px);
  }
}